{% extends 'message_sendler/base.html' %}
{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                         <h3 class="text-center">Настройка рассылки</h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% if object %}
                                <button type="submit" class="btn btn-primary">Изменить</button>
                            {% else %}
                                <button type="submit" class="btn btn-primary">Добавить</button>
                            {% endif %}
                            <a href="{% url 'message_sendler:mailing_list' %}" class="btn btn-warning"> Отмена</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}